# PoE Cache Directories and Crash Dumps
Countdown/
DailyDealCache/
Minimap/
MOTDCache/
ShopImages/
Screenshots/
LootFilters_3.6/
*.dmp
*.dmp.txt
production_login.credentials

# Coding related
.vscode/